{% extends "bootstrap/base.html" %}
  
  {% block head %}
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
  {% endblock %}
  
  {% block title %}
    real scanning hours
  {% endblock %}
  
  {% block content %}
    <h1>PyScan</h1>
    
    <form method="post" action='/scan'>
      
      <p class='instruction'>Select your WiFi network</p>
      
      <div class='parent'>
        <select class='child select form-control' name='network'>
          <option>Select a network</option>
          <option id='network_1'>Network 1</option>
          <option id='network_2'>Network 2</option>
          <option id='network_3'>Network 3</option>
          <option id='network_4'>Network 4</option>
          <option id='network_5'>Network 5</option>
        </select>'
      </div>
            
      <p class='instruction'>Enter your WiFi password</p>
      
      <div class='parent'>
        <input type='password' id='input_text' name='password_field' class='child form-control'></input>
      </div>
                
      <p class='instruction'>Search for vulnerabilities</p>	

      <div class='parent'>
        <input type='submit' value='Submit' class='child btn btn-default'></input>
      </div>

    </form> 
  {% endblock %}
